$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
video {
  border: 1px solid gray;
}

#photo, #camera_controls {
  display: none;
}

.photo-gallery {
  text-align: center;

  .panel-body {
    li {
      margin: 15px 0px;
    }

    img {
      margin-bottom: 10px;
    }
  }
}