<% if @user %>

<div class="panel panel-default photo-gallery">
  <div class="panel-heading">
    <h3>
      <span class="glyphicon glyphicon-lock"></span>
      Saved Souls
    </h3>
    <% if @user.photos %>
    <%#= link_to "Delete All Souls", user_photos_path(@user), :method => :delete, :remote => true, :class => "btn btn-danger" %>
<!--
    <button action="<#%= user_photos_path(@user, :method => :delete, :remote => true) %>" type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
      Delete All Souls
    </button> -->
    <% end %>
  </div>

  <div class="panel-body">
    <ul class="list-unstyled">
      <% @user.photos.each do |photo| %>
      <li>
        <%= link_to image_tag(photo.url, :class => "img-thumbnail img-responsive"), user_photo_path(photo.user, photo.id) %>
        <%= link_to "Delete", user_photo_path(photo.user, photo.id), :method => :delete, :remote => true, :class => "btn btn-danger" %>

        <!-- Twitter strips out localhost links -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= Rails.env.development? ? 'http://lvh.me:3000/' + user_photo_path(photo.user, photo.id) : user_photo_url(photo.user, photo.id) %>" data-text="snap your soul" data-size="large" data-count="none" data-hashtags="snapyoursoul" data-dnt="true">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!--
        <button action="<%#= user_photo_path(photo.user, photo.id, :method => :delete, :remote => true) %>" type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>
          Delete
        </button > -->

   <!--      <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-share-alt"></span>
          Tweet   Picture
        </button> -->
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>
