  <div class="row text-center">
    <div class="media">
      <legend>
        <%= link_to @photo.user.name, user_path(@photo.user) %>
      </legend>
      <%= link_to image_tag(@photo.url, :class => "media-object"), @photo.url, :class => "img-responsive img-thumbnail" %>
    </div>
  </div>

