<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">~+In†erne† Phø†obøø†h+~</a>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}

  <hr />
  <footer>
    <p><span class="glyphicon glyphicon-flash"></span>Made by <a href="https://twitter.com/dianagliu">@dianagliu</a></p>
  </footer>
</div>
