<div id="errorMessage" class="alert alert-warning">
  <p>Hi, click 'Allow' up there to split your soul. We'll keep it safe for you.</p>
</div>

<div class="row">
  <div class="col-md-8">
    {{outlet camera}}
  </div>

  <div class="col-md-4">
    {{outlet gallery}}
  </div>
</div>

