<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>Hi, click 'Allow' up there to split your soul. We'll keep it safe for you.</p>
</div>

<div class="row">
  <div class="col-md-9">
    {{outlet camera}}
  </div>

  <div class="col-md-3">
    {{outlet gallery}}
  </div>
</div>