<div id="camera">
  <h3>Camera</h3>
  <!-- Video shows a live stream from the camera -->
  <video id="video" autoplay>Sorry, your browser isn't supported.</video>
  <!-- what is canva spreview for? -->
  <div id="canvas-preview"></div>
  <!-- What is canvas used for? -->
  <canvas id="photo"></canvas>
</div>

<div id="camera_controls">
  <button class="btn btn-primary" {{action "takePicture"}}>Take Picture</button>
</div>
