<div class="panel panel-default photo-gallery">
  <div class="panel-heading">
    <h3>
      <span class="glyphicon glyphicon-lock"></span>
      Saved Souls
    </h3>
    {{#if model}}
    <button {{action 'clearGallery'}} type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
      Delete All Souls
    </button>
    {{/if}}
  </div>

  <div class="panel-body">
    <ul class="list-unstyled">
      {{#each controller}}
      <li>
        <img {{bindAttr src="source"}} class="img-thumbnail img-responsive">
        <button {{action 'deletePhoto'}} type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>
          Delete
        </button>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

